<footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Footer Content</h5>
                <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container valign-wrapper">
            <span>© {{ site.time | date: "%Y"}} Oriole Robotics</span>
            <!-- <a class="grey-text text-lighten-4 right" href="#!">More Links</a> -->
            <span class="right-block" style="font-size: 2rem">
            <a class="grey-text text-lighten-4 mdi mdi-facebook" href="https://www.facebook.com/FRC2879/"></a>
            <a class="grey-text text-lighten-4 mdi mdi-twitter" href="https://twitter.com/frc2879"></a>
            <a class="grey-text text-lighten-4 mdi mdi-youtube-play" href="https://www.youtube.com/frc2879"></a>
            <a class="grey-text text-lighten-4 mdi mdi-google-plus" href="https://plus.google.com/+frc2879"></a>
            <a class="grey-text text-lighten-4 mdi mdi-github-circle" href="https://github.com/frc2879"></a>
            </span>
            </div>
          </div>
        </footer>