$primary-color: color("orange", "darken-1");
$secondary-color: color("grey", "darken-1");

//$h1-fontsize: 4.2rem;
//$h2-fontsize: 3.56rem;
//$h3-fontsize: 2.92rem;
//$h4-fontsize: 2.28rem;
//$h5-fontsize: 1.64rem;
//$h6-fontsize: 1rem;

//$h1-fontsize: 2rem;
//$h2-fontsize: 1.5rem;
//$h3-fontsize: 1.17rem;

$h1-fontsize: 2.92rem;
$h2-fontsize: 2.28rem;
$h3-fontsize: 1.64rem;

$h4-fontsize: 1rem;
$h5-fontsize: 0.83rem;
$h6-fontsize: 0.67rem;
